
$font-main: 'Nunito Sans', sans-serif;

//Colors
$gray-background: #DCDCDC;
$white: #FFFFFF;
$gray-text: #333333;
$blue-menu: #2C4664;
$green-btn: #C8FF8C;
$bg-color: #EDF1F5;
$circles-color: #3C5B7E;
$footer-bottom: #223851;
$mobile-overlay: #242B33;
$bg-menu: #192C42; 
$border-menu: #21364E;

//Media
$tablet: 999px;
$mobile: 525px;
$semi-tablet: 625px;
$tablet-owners: 959px;

